<html>
  <head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
  </head>
  <body>
    <h1>Main</h1>
    <a href="/users/login">login</a>
    <a href="/users/register">register</a>
  </body>
</html>
